/* Navbar Sabitleme */
.navbar {
    height: 60px;
    background-color: #0056b3;
    z-index: 1000;
}

/* Sidebar Sabitleme ve Düzenleme */
.sidebar {
    width: 250px;
    height: calc(100vh - 60px); /* Navbar yüksekliğine göre ayarlandı */
    position: fixed;
    top: 60px; /* Navbar'ın hemen altında */
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
}

/* Sidebar Linkleri */
.sidebar a {
    color: #cfd8dc;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Sidebar Hover Efekti */
.sidebar a:hover {
    background-color: #495057;
    color: #ffffff;
}

/* Aktif Link */
.sidebar a.active {
    background-color: #007bff;
    color: #ffffff;
}

/* İçerik Alanı */
.content {
    margin-left: 250px;
    padding-top: 80px; /* Navbar yüksekliği için alan bırakıldı */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .content {
        margin-left: 0;
        padding-top: 80px;
    }
}
