<div class="sidebar bg-dark text-white pt-5">
    <ul class="list-unstyled">
        <li>
            <a href="{% url 'homepage' %}" class="d-flex align-items-center p-3">
                <i class="fas fa-tachometer-alt fa-lg mr-2"></i> Müşteri
            </a>
        </li>
        <li>
            <a href="{% url 'customer_search' %}" class="d-flex align-items-center p-3">
                <i class="fas fa-users fa-lg mr-2"></i> Müşteri Listem
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}" class="d-flex align-items-center p-3">
                <i class="fas fa-chart-line fa-lg mr-2"></i> Çıkış Yap
            </a>
        </li>
    </ul>
</div>
